body {
	background: #ebebeb;
}

img {
	height: 280px;
	margin-left: 3%;
	float: left;
}

h2 {
	margin-left: 3%;
	margin-top: 3%;

}

ul {
    list-style-type: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd; 
    border-bottom-style: solid;
	border-bottom-width: 1px
    border-color: grey;
 
}

h1 {
    list-style-type: inline;
    float: left;
    margin: 0;
    padding: 1% 5% 0% 10%;
    overflow: hidden;
    background: #dddddd;
    border-bottom-style: solid;
	border-bottom-width: 1px
    border-color: grey;
 
}	

li {
	list-style-type: inline;
	float: right;
    display: block;
    padding: 1.7% 5% 2% 5%;
    background-color: #dddddd;

}

li:hover {
	color: red;
    background-color: white;

}

#mainbox {
	background: #dddddd;
	margin-left: 10%
	margin-right: 60%;
	width: 50%;

}

#aside {
	list-style-type: inline;
	background: #dddddd
	margin-right: 10%;
	padding: 5%;
	margin-top: 10%

}

#aside:hover {
	background: #777;

}

#connect {
	background: #dddddd
	padding: 5%;

}

.clearfix {	
	content:"";
	display: block;
	clear: both;

}

p {
	margin:auto;

}