* {
  background: linear-gradient(to right,#e65c00, #F9D423);
  color: Black;
  font-family: 'Orbitron', sans-serif;
}

.btn {
  box-shadow: 3px 3px black;
}
.form-inline {
  margin-top: 3%;
  margin-left: 60%;
}
